.order{

    background-color: #fff;
    width:400px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.order-current{
    display: flex;
    align-items:flex-end;
    height: 80px;
    border-bottom: 1px solid #eee;
    padding-left:15px;
   
    
    
    .order-head{
        font-size:1.5em;
        font-weight:bold;
    
        margin-right:auto;
    }

    .order-date{
        color:#9f9f9f;
        font-size:.8rem;
    }
}


.order-items{
    margin-bottom: auto;
}
.order-item{
  display: flex;
  background-color: #F2F7FB;
  padding:10px 10px;
  margin:15px;
  margin-right:0;
  border-radius:8px;

}
.order-img{
    width:50px;
    margin-right:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-text{
    margin-right:auto;
    .order-name{
        max-width:200px;
        font-weight:700;
        font-size:.7rem;
        text-transform:capitalize;
        margin-bottom:9px;
    }

    .order-price{
        font-size:.7rem;
    }

}


.order-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;


    .order-remove{
        font-size:.7rem;
        font-weight: 700;
        color:red;
    }
}

.order-quantity{
    display: flex;
    margin-bottom:5px;

    .order-quantity-minus,.order-quantity-plus{
        background-color:#ffbb00cc;
        border-radius: 50%;
        width:20px;
        height:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#fff;
        font-weight:700;
    }

    .order-quantity-minus{
        margin-right:5px;
    }

    .order-quantity-plus{
        margin-left:5px;
    }
}


.paysum{
 margin-bottom:60px;
 padding:25px;

}

.paysum-subtotal{
    margin-bottom:10px;
    font-size:.8rem;

    & .first{
        margin-right:auto;
    }

    & .second{
        font-weight:700;
    }
}

.paysum-vat{
    font-size:.8rem;
    border-bottom: 2px dashed #b2adad;
    & .first{
        margin-right:auto;
    }

    & .second{
        padding-bottom:20px;

    }
    
}

.paysum-total{
    font-weight: bold;
    padding-top:15px;
    font-size:1.3rem;

    & .first{
        color:red;
        margin-right:auto;
    }

    & .second{
        font-size:1.3rem;
        font-weight: 700;
        color:#2fc92f;
    }
}

.pay-amount{
    border:1px solid #000;
    padding:8px;
    border-radius:4px;
}

.paysum-divider{
    border-top: 2px  dashed rgb(83, 77, 77);
    width: 100%;
}
.order-customer-amount-cont{
    font-size:1.5em;
    padding:0px 25px;
    .order-customer-amount{
     padding:8px;
     border:1px solid #000;
    }
}



.orderbtn{
    padding:25px;
    
    .orderbtn-btn{
        text-align: center;
        color:#fff;
        background-color: #ff5e00;
        width:100%;
        font-weight: 700;
        font-size:.9rem;
        padding:8px;
        border-radius:4px;
    }
}