.order{
    border-radius:20px;
    padding:20px 20px;
    background-color: #fff;
    width:250px;
    display: flex;
    flex-direction: column;
    min-height: inherit;
}


/*******order-head***********/
.order-head{
    display: flex;
    margin-bottom:15px;
  
    .head{
        font-size:.8em;
        margin-right:auto;
    }

    .orderid{
        font-size:.8em;
        font-weight: bold;
        color:#000;
    }
}


.order-items{
    margin-bottom: 30px;
    // border: 1px solid red;
    height:624px;
    max-height: 243px;
    overflow-y: auto;
    padding-bottom:50px;
}
.order-item{
  display: flex;
  background-color: #F2F7FB;
  padding:10px 10px;
  margin-bottom:15px;
  margin-right:0;
  border-radius:8px;

}
.order-img{
    width:40px;
    margin-right:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-text{
    margin-right:auto;
    .order-name{
        max-width:200px;
        font-weight:700;
        font-size:.7rem;
        text-transform:capitalize;
        margin-bottom:9px;
    }

    .order-price{
        font-size:.7rem;
    }

}


.order-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;


    .order-remove{
        font-size:.7rem;
        font-weight: 700;
        color:red;
    }
}

.order-quantity{
    display: flex;
    margin-bottom:5px;

    .order-quantity-minus,.order-quantity-plus{
        background-color:#ffbb00cc;
        border-radius: 50%;
        width:20px;
        height:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#fff;
        font-weight:700;
    }

    .order-quantity-minus{
        margin-right:5px;
    }

    .order-quantity-plus{
        margin-left:5px;
    }
}


.paysum{
 
 margin-top:20px;
 margin-bottom:60px;
 

}

.paysum-subtotal{
    margin-bottom:10px;
    font-size:.8rem;

    & .first{
        margin-right:auto;
    }

    & .second{
        font-weight:700;
    }
}

.paysum-vat{
    font-size:.8rem;
    border-bottom: 2px dashed #b2adad;
    & .first{
        margin-right:auto;
    }

    & .second{
        padding-bottom:20px;

    }
    
}

.paysum-total{
    font-weight: bold;
    padding-top:15px;
    

    & .first{
        color:red;
        margin-right:auto;
    }

    & .second{
        font-weight: 700;
        color:#2fc92f;
    }
}

.pay-amount{
    border:1px solid #000;
    padding:8px;
    border-radius:4px;
}

.paysum-divider{
    border-top: 2px  dashed rgb(83, 77, 77);
    width: 100%;
}

/**********order-customer-amount*********/
.order-customer-amount-cont{
    font-size:1em;
    .order-customer-amount{
     padding:8px;
     border:1px solid grey;
     border-radius:4px;
    }
}



/***********orderbtn*************/
.orderbtn{
    margin-top:30px;
    .orderbtn-btn{
        text-align: center;
        color:#fff;
        background-color: #ff5e00;
        width:100%;
        font-weight: 700;
        font-size:.9rem;
        padding:8px;
        border-radius:4px;
    }
}