.page-container{
 max-width: 1200px;

}



.page-first-row{
    width:100%;
    background-color: aliceblue;
}

.page-second-row{
    display: flex;

    //  align middle
    .page-second-row-middle{
        
    }
    // align right
    .page-second-row-right{
        margin-left:auto;
    }
}