.topbar{
  display: flex;
  flex: 1 70%;
  
}


.topbar-name{
    margin-right:40px;

    .topbar-company{
        font-weight: bold;
        font-size:1.5rem;
        
    }
}


.topbar-search{
  position: relative;
  min-width:700px;
  .topbar-search-box{
    width:100%;
    border:1px solid #e7e7e7v;
    padding:4px 15px;
    border-radius: 4px;
    color:#909090;
    background-color: #f2f7fb;
    cursor:pointer;
    font-size:1em;
    text-transform: capitalize;

  }


  .topbar-search-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 100%;
    top:0;
    right:0;
    background-color: #ffbb00cc;

    svg{
      width:12px;
      fill:#fff;
      
      path:{
        
      }
    }
  }
}