.topbar{
  display: flex;
  height: 100px;
  background-color: #fff;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}


.topbar-name{
    margin-right:40px;

    .topbar-company{
        font-weight: bold;
        font-size:1.5rem;
        
    }
}


.topbar-search{

  margin-right:auto;



  .topbar-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:800px;
    position: relative;
  }

  .search-icon-container{
    position:relative;
  }
  .topbar-search-box{
    width:500px;
    border:1px solid #e7e7e7;
    padding:4px 15px;
    border-radius: 4px;
    color:#909090;
    background-color: #f2f7fb;
    cursor:pointer;
    font-size:1em;
    text-transform: capitalize;

  }


  .topbar-search-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 100%;
    top:0;
    right:0;
    background-color: #ffbb00cc;

    svg{
      width:12px;
      fill:#fff;
      
      path:{
        
      }
    }
  }
}

.topbar-new-order{
  width:400px;
  display: flex;
  justify-content: center;
  align-items: center;
}