.mainmenu-container{
 display: flex;
 flex-direction: column;
}

.mainmenu{ 
 display: flex;
 flex-direction: column;
 padding: 20px;
 padding-top:0;

 
}


.mainmenu-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    &> div{
        width:50px;
    }
    padding-top:40px;
    display:flex;
    align-items: flex-end;
    margin-bottom:50px;
    svg{
        fill:$clr-accent;
        width:35px;
    }
}

/****.mainmenu-menu******/
.mainmenu-menu{
    margin-bottom:auto;
    .mainmenu-nav{
     li{
        padding: 10px 13px;
        border-radius: 5px;
        &.active{
            background-color: #fcdeea;
   
            svg{
                fill:$clr-accent;
            }

            & .text{
                color:$clr-accent;
            }
        }
     }
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap:30px;
     & .img{
        display: flex;
        justify-content: center;
        
        svg{
            width:15px;
            fill:#9b9b9b;
        }
     }

     & .text{
        //display: none;
        font-weight: bold;
        font-size:.6em;

     }
    }
}

/********.mainmenu-logout******/
.mainmenu-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin-top:auto;
    position: fixed;
    bottom:0;
    left:14px;
    
    .img{
        display: flex;
        justify-content: center;
    }
    .text{font-size:.7em}
    
    svg{
        width:15px;
        fill:#9b9b9b;
    }
}