.auth{
    background-color: #fcdeea;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-error{
    background-color: red;
    font-size:1em;
    color:#fff;
    padding:6px 16px;
    border-radius:6px;
    position:absolute;
    left:25px;
    bottom:25px;

    transition:display .3s ease-in-out;

}
.auth-container{
    display: flex;
    justify-content: center;
    align-items:center;
}

.auth-login-form{
    max-width:400px;
    border-radius:8px;
    background-color:#fff;
    padding:25px 40px;
    
    .text{
        text-align: center;
        margin-bottom:25px;
        font-weight: bold;
    }
    .form-grp{
        display: flex;
        flex-direction: column;

        input{
            border:1px solid #d9d9d9;
            border-radius:6px;
            padding:6px 10px;
            margin-bottom:20px;
            font-size:.9em;
            width: 100%;
        }

       
    }
}


.auth-login-submitbtn{
    margin-top:10px;
    input{
        background-color:#ea4c89;
        color:#fff;
        display: inline-block;
        width:100%;
        padding:6px 0;
        border-radius: 6px;
        font-size:.8em;
        cursor:pointer;
    }
}

