.category-container{
  
    
}

/***category-head***/
.category-head{
    display: flex;
    font-weight:700;
    font-size:.8em;
    padding: 2em 0em 2em 0em;
    padding-left:1em;

    .category-head-one{
        margin-right:auto;
    }
}


/*********category-items*******/
.category-items{
    max-width: 100%;
    display: flex;
    overflow-x: scroll;
    position:absolute;
    -ms-overflow-style:none;

    //hide scrollbar
    &::-webkit-scrollbar{
        display: none;
    }

    .category-item{
        margin-right:1em;
        border-radius:8px;
        padding:.7em 1.5em;
        background-color:#fff;
        border: 1px solid #f3f3f3;
        font-size:.8em;
        font-weight: 700;
        display: flex;
        align-items: center;


        //category-item__selected
        &.category-item__selected{
            background-color: #fff;
            border:2px solid #ff8ca0;


            .category-item-img{
                background-color: #f3f3f3;
            }
        }

        
    }

    .category-item-img{
        border-radius: 50%;
        width:30px;
        height:30px;
        margin-right:.8em;
        
        img,svg{
            width:100%;
            height:100%;
            border-radius: 50%;
            padding:5px;
        }
        

        
    }

    .category-item-text{
        white-space:nowrap;
    }
}








/*****************************category food**********************/
.category-food-item-container{
padding:1em 1em 1em 0;
display:grid;
grid-template-columns: repeat(3,31%);
grid-template-rows: repeat((auto,auto));
grid-column-gap:3%;
grid-row-gap:20px;

}

.category-food-item{
    background-color: #fff;
    padding:1em;
    display: flex;
    border-radius:8px;
    cursor: pointer;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    

    &.category-food-item__selected{
        .category-food-option-btn{
            background-color:#ff2e53;
            color:#fff;
        }
    }

    .category-food-img{
        width:100%;
        margin-bottom:1em;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items:center;
        padding:20px 0;
        border-radius:8px;

        img{
            height:80px;
            width:80px;
            
            border-radius: 50%;
        }
    }
    .category-food-name{
        text-transform: capitalize;
        font-size:.9em;
        font-weight:700;
        margin-bottom:.5em;
    }
    .category-food-price{
        font-size:.9em;
        margin-bottom:1em;
        
    }

    .category-food-option-btn{
        width: 100%;
        display: inline-block;
        border:1px solid pink;
        padding:.4rem 3em;
        border-radius:6px;
    }
}